.container {
  min-height: 100vh;
  width: 100%;
  background-color: #161e43;
  display: grid;
  grid-template-rows: 180px 70px 138px auto;
  grid-template-areas:
    "bandeira"
    "logo"
    "botao"
    "footer";
  justify-items: center;
  align-items: center;
  gap: 0;
}

.bandeiraContainer {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 0; 
}

.bandeira {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  margin-top: 1rem;
}

.logoContainer {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  width: 100%;
}

.logo {
  width: 580px;
  max-width: 90vw;
  height: auto;
}

.botaoContainer {
  grid-area: botao;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 250px;
}

.botao {
  width: 260px;
  max-width: 80vw;
  height: auto;
  margin-top: 3rem;
}

.footer {
    position: static;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}

.violao {
    position: static;
  width: 14rem;
  height: auto;

}

.danca {
    position: static;
  width: 16rem;
  height: 14rem;
  margin-right: 1rem;
  margin-top: 3rem;
}


@media (max-width: 767px) {
  .logo {
    width: 260px;
    max-width: 90vw;
  }
  .botao {
    margin-bottom: 6rem;
    margin-left: 2rem;
    width: 180px;
    max-width: 60vw;
  }
  .violao {
    width: 600px;
    max-width: 47vw;
    margin-top: 5rem;
  }
  .danca {
    display: none; 
  }
  .bandeira {
    margin-bottom: 3.7rem;
    max-height: 130px;
  }
  .footer {
    padding: 0 1vw 1vw 1vw;
  }

}
